# Servidor & Autenticação
PORT=3000
JWT_SECRET=sua_chave_secreta_jwt_aqui

# URL da Aplicação
APP_URL=http://localhost:3000

# Conexão MySQL
MYSQL_HOST=localhost
MYSQL_USER=root
MYSQL_PASSWORD=
MYSQL_DATABASE=visioindoor

# Conexão MySQL (Ambiente de Produção)
MYSQL_HOST=localhost
MYSQL_USER=seu_usuario
MYSQL_PASSWORD=sua_senha
MYSQL_DATABASE=sua_base